@tailwind base;
/* Firefox */
:root {
	--scroll-primary: #eee;
	--scroll-secondary: #00425b;
}
.djs-parent {
	--palette-entry-hover-color: #00425b !important;
	--element-selected-outline-stroke-color: #00435b8a !important;
	--context-pad-entry-hover-background-color: #d7f2f4 !important;
	--element-dragger-color: #00435b8a !important;
	--bendpoint-fill-color: #00435b8a !important;
}
* {
	scrollbar-width: thin;
	scrollbar-color: var(--scroll-secondary) var(--p);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
	width: 5px;
}

*::-webkit-scrollbar-track {
	background: var(--p);
	border-radius: 2px;
}

*::-webkit-scrollbar-thumb {
	background-color: var(--scroll-secondary);
	border-radius: 6px;
	border: 2px solid var(--p);
}
@tailwind components;
@tailwind utilities;
